body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#users {
    height: 120px;
    padding: 0;
    background: #000;
    z-index: 2;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#users:before {
    position: absolute;
    z-index: 3;
    content: 'coworking';
    font-family: 'Lobster';
    font-size: 2.5em;
    width: 250px;
    margin: 0 -125px;
    text-align: center;
    left: 50%;
    top: 35px;
    color: #333;
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #555;
}

#users > video, #users > img {
    display: inline-block;
    width: 160px;
    height: 120px;
    margin: 0;
    padding: 0;
    background: #000;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 4;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    box-shadow: 0 0 0 red;
    margin-bottom: -4px;
}

#users > span {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 120px;
    line-height: 120px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 200;
    margin: 0 0 0 -160px;
    opacity: 0;
    vertical-align: top;
    text-align: center;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    z-index: 6;
    cursor: default;
}

#users > span:hover {
    opacity: 1;
}

#users > img.hailing {
    -webkit-animation: hail linear 1s infinite;
    -moz-animation: hail linear 1s infinite;
    -o-animation: hail linear 1s infinite;
    animation: hail linear 1s infinite;
    z-index: 5;
}

@-webkit-keyframes hail {
    0%, 100% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
}
@-moz-keyframes hail {
    0%, 100% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
}
@-o-keyframes hail {
    0%, 100% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
}
@keyframes hail {
    0%, 100% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
}

#users > #myvideo {
    display: none;
}

#chatcontainer {
    flex: 1;
    position: relative;
}

#chatcontainer > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

#chatbox {
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-flow: row wrap;
}

#chatbox > div {
    margin-bottom: 7px;
    min-height: 45px;
    width: 100%;
}

#chatbox > div > img {
    float: left;
    width: 60px;
    height: 45px;
    margin-left: 10px;
    vertical-align: top;
    border-radius: 2px;
}

#chatbox > div > span {
    display: block;
    margin-left: 70px;
    padding: 5px 10px;
    overflow: hidden;
    position: relative;
    font-weight: 200;
    line-height: 1.3em;
}

#chatbox > div > span > *:first-child {
    margin-top: 0;
}

#chatbox > div > span > *:last-child {
    margin-bottom: 0;
}

#controls {
    height: 40px;
}

#msg {
    position: absolute;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 19px;
    bottom: 0;
    border: 0;
    border-top: 1px solid #888;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    outline: 0;
    font-size: 1em;
    font-weight: 200;
}

audio {
    display: none;
}

#chatbox > div > span.name {
    color: #000;
    font-size: .8em;
    font-weight: bold;
    padding-bottom: 0;
    font-style: normal;
}

.action, .bot {
  font-style: italic;
  color: gray;
}

.action a {
    font-style: italic;
    color: #555;
}
